[submodule "client"]
    path = frontend
    url =   https://github.com/pragun-bansal/ecommerce-front-end.git

[submodule "server"]
    path = backend
    url = https://github.com/pragun-bansal/ecommerce-back-end.git