[submodule "client"]
    path = front-end
    url =   https://github.com/pragun-bansal/ecommerce-front-end.git

[submodule "server"]
    path = back-end
    url = https://github.com/pragun-bansal/ecommerce-back-end.git